<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 class="text-center">Previous CC List</h2>
  <br/>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
		 <th>Action</th>
      </tr>
    </thead>
	<?php 
	foreach($retval as $row)
	{
		$n=$row['Name'];
		$m=$row['Mobile'];
		$mail=$row['Email'];
	?>
    <tbody>
      <tr>
        <td><?php echo $n?></td>
        <td><?php echo $m?></td>
        <td><?php echo $mail?></td>
		<td><a href="dba.php?editvm=<?php echo $mail; ?>" class="btn btn-primary">Edit</a>
		<a href="dba.php?sendvm=<?php echo $mail; ?>" class="btn btn-danger">Delete</a>
		<a href="dba.php?nonverifyvm=<?php echo $mail; ?>" class="btn btn-info">Block</a>
		</td>
		
      </tr>
     
    </tbody>
	<?php }?>
	
  </table>
</div>

</body>
</html>